*{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
}

.contact-section{

	background-size: cover;
	padding: 40px 0;
}

.contact-section h2{
	text-align: center;

}

.border{
	width: 100px;
	height: 10px;
	background: #34495e;
	margin: 40px auto;
}

.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border:solid 2px ;
	background: white;
	padding: 20px 40px;
	outline: none;
	color: #111;
	transition: 0.8s;
}


textarea.contact-form-text{
resize: none;
height: 120px;
border-radius: 10px;

}

.contact-form-btn{
	float: right;
	border: 0;
	background: #34495e;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.8s;
}

.contact-form-btn:hover{
	background: #2980b9;

}
