 {% extends "layout.html" %}
 {% block body %}
 <!--title Banner Section-->
          <div class="section white no-pad-top">
            <div class="section black darken-1 no-pad-bot z-depth-1 start-splash-section">
              <div class="container start-splash-container">
                  <div class="row">
                    <div class="col s12 l6">
                        <div class="white-text start-splash-header-content">
                            <span class="start-splash-header-text white-text">Your friendly neighbourhood AI medico!</span>
                            <h3 class="white-text start-header-paragraph-text">
                                We envision to automate the diagonsis of life threating diseases and assist doctors with their treatment using the power of Artificial Intelligence!
                            </h3>
                            <!--<a class="waves-effect waves-light btn white text-primarycolor" style="margin-bottom:50px;margin-right: 10px;margin-top:0px;" href="http://sites.fastspring.com/androidkiosk/product/kioskbrowserpro"><i class="mdi mdi-credit-card left" ></i>Buy</a>-->
                            <a class="waves-effect waves-light btn white black-text modal-trigger" style="margin-bottom:50px;margin-right: 10px;margin-top:0px;" href="https://github.com/smaranjitghose/auto_vaidya"><i class="material-icons left">chevron_right</i>Get Started</a>
                            
                        </div>
                    </div>
                    <div class="col s12 l6">
                        <div class="splash-image-container">
                            <img src="{{url_for('static', filename = 'images/3680924.svg')}}" class="splash-image">
                        </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
           <!--About Section -->
        <div id="about" class="row container"><h3 class="">About</h3>
        <p class="about-text">An open source solution for creating end-end web app for employing the power of deep learning in various clinical scenarios like implant detection, pneumonia detection, brain mri segmentation etc.</p></div>
    </div>
    <!--Projects Section -->
   <div id="projects" class="container"><h3 >Current Undertakings:</h3>
    <div class="row">   
    <div class="col m4">
            <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://media.giphy.com/media/3o7TKtE3yRuE6rAeFa/giphy.gif">
    </div>
    <div class="card-content">
      <span class="card-title center grey-text text-darken-4">Pneumonia Detection</span>
    </div>
  </div>
       </div>
       <div class="col m4">
        <div class="card">
<div class="card-image waves-effect waves-block waves-light">
  <img class="activator" src="https://media.giphy.com/media/qVtN6zqMSW59K/giphy.gif">
</div>
<div class="card-content">
  <span class="card-title center grey-text text-darken-4">Malarial Parasite Detection</span>
</div>
</div>
   </div>
   <div class="col m4">
    <div class="card">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="https://media.giphy.com/media/MCAFTO4btHOaiNRO1k/giphy.gif">
</div>
<div class="card-content">
<span class="card-title center grey-text text-darken-4">Covid-19 Detection</span>
</div>
</div>
</div>
</div>
<div class="row"> 
  <div class="col m4">
    <div class="card">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="https://media.giphy.com/media/l41lJ8ywG1ncm9FXW/giphy.gif">
</div>
<div class="card-content">
<span class="card-title center grey-text text-darken-4">Intracranial Brain Haemorrhage Detectionn</span>
</div>
</div>
</div>
<div class="col m4">
  <div class="card">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="https://media.giphy.com/media/B9SXJmOabvcwo/giphy.gif">
</div>
<div class="card-content">
<span class="card-title center grey-text text-darken-4">Leukocyte Classifciation</span>
</div>
</div>
</div>
<div class="col m4">
  <div class="card">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="https://media.giphy.com/media/l46CfQrnjtP759Bcs/giphy.gif">
</div>
<div class="card-content">
<span class="card-title center grey-text text-darken-4">Parkinson's Disease</span>
</div>
</div>
</div>
</div>

<center>
<div class="row center">   
  <div class="col m4 center">
  <div class="card">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="https://media.giphy.com/media/YNDPsl5SAy0FVMY6W0/giphy.gif">
</div>
<div class="card-content">
<span class="card-title center grey-text text-darken-4">Diabetic Retinopathy</span>
</div>
</div>
</div>
  </div>
</center>
</div>
        <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="anushbhatia" data-description="Support me on Buy me a coffee!"  data-color="#FF813F" data-position="right" data-x_margin="18" data-y_margin="18"></script>
      <script type="text/javascript" src="{{url_for('static', filename ='js/jquery.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename ='/js/materialize.min.js')}}"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie_svg.min.js'></script><script  src="{{url_for('static', filename = 'js/script.js')}}"></script>
      <script>
        $(document).ready(function(){
$('.sidenav').sidenav();
});
$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
   </script>
    </body>
  </html>

  {% endblock %}

